.blog {

  &__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: adaptive-value(15,30) 0 adaptive-value(45, 110);

    @include media('<tablet') {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }

  &__ttl {
    padding-right: adaptive-value(0, 20);
  }

  &__feature {
    padding-bottom: adaptive-value(40, 104);
    margin-bottom: adaptive-value(40, 104);
    border-bottom: 1px solid #8F949C;

    .post-item {
      background: none;
      padding: 0;
      width: 100%;

      &__inner {
        padding: 0;
        gap: adaptive-value(20, 41);
        background: none;

        @include media('>=desktop') {
          flex-direction: row;
          align-items: center;
        }
      }

      &__img {
        position: relative;
        background: $c-gradient;
        border-radius: 20px;
        padding: 36px;
        width: 870px;

        @include media('>=tablet', '<1600px') {
          max-width: 50%;
        }

        @include media('<tablet') {
          width: 100%;
          margin-bottom: 20px;
        }

        &:before {
          content: '';
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          display: block;
          position: absolute;
          top: 1px;
          left: 1px;
          background: $c-bg-primary;
          border-radius: 20px;
          z-index: 1;
        }

        img {
          position: relative;
          z-index: 2;
        }
      }

      &__content {
        flex: 1;
      }

      &__info {
        flex-direction: row-reverse;
        padding: 0 0 30px;

        span {
          font-size: adaptive-value(16, 24);
          line-height: 1;
        }
      }

      &__ttl {
        font-size: adaptive-value(22, 30);
        line-height: 1.1;
        margin-bottom: adaptive-value(16, 35);
      }

      &__dsc {
        font-weight: 300;
        font-size: adaptive-value(18, 24);
        line-height: 1.375;
        overflow: hidden;
        margin-bottom: adaptive-value(14, 37);
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__btn {
        .btn-primary {
          height: adaptive-value(55, 75);

          &:before {
            background: #0E101C;
          }

          span {
            font-size: adaptive-value(18, 23);
          }
        }
      }

      .post-item-tags {
        right: adaptive-value(10, 36);
        top: unset;
        bottom: 0;
        z-index: 3;

        &__item {
          transform: translateY(50%);
        }
      }
    }
  }
}

.blog-filter {
  display: flex;
  align-items: flex-end;
  gap: adaptive-value(30, 50);
  flex-wrap: wrap;

  &__ttl {
    font-weight: 700;
    font-size: adaptive-value(24, 30);
    line-height: 1.15;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: adaptive-value(35, 65);

    li {

      a {
        font-weight: 300;
        font-size: adaptive-value(18, 24);
        line-height: 1.375;
        text-transform: lowercase;
        transition: color .3s ease-in-out;

        &.active {
          text-decoration: underline;
        }

        &:hover {
          color: $c-brand-primary;
        }
      }
    }
  }
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: adaptive-value(18, 36);
  margin-bottom: adaptive-value(18, 36);

  .post-item {
    margin-bottom: adaptive-value(20, 44);
  }
}

.blog-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: adaptive-value(30, 73) 0 0;
  gap: adaptive-value(14, 20);

  span, a {
    font-weight: 400;
    font-size: adaptive-value(18, 24);
    line-height: 1;
  }

  a {
    transition: .3s ease-in-out;

    @include hover() {
      color: $c-brand-primary;
    }
  }
}