@import "media-queries-var";

// Brand
$c-brand-primary:   #2C77E7;

// background
$c-bg-primary:      #0A0C0F;
$c-bg-secondary:    #19263C;

$c-gradient: linear-gradient(228.09deg, #FF2CF7 -9.95%, rgba(251, 4, 123, 0.796875) 12.47%, rgba(255, 126, 188, 0.81) 30.87%, rgba(73, 255, 233, 0.65) 70.34%, #2C77E7 100.44%);

// fonts
$c-font-primary:    #ffffff;
$c-font-secondary:  rgba(255,255,255,.5);
$c-font-accent: #1B64D7;